@model NegosudApp.Models.Supplier

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Legal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Legal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Siret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Siret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApeNaf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApeNaf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
